*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 1.6rem;
	background-color: black;
	overflow-x: hidden;
}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 5rem;
		height: 3rem;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 0.3rem;
		content: '';
		background-color: white;
		transition: width 0.3s;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 1.3rem;
			width: 60%;
		}
		&::before {
			top: 2.7rem;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	background-color: black;
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: white;
		text-decoration: none;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			transition: transform 0.3s;
			background-color: white;
			content: '';
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
	background-color: white;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}
.nav-active {
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 100;
}
.logo {
	display: none;
	width: 200px;
	height: 100px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.logo-mobile {
	width: 200px;
	height: 100px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.navbar {
	color: white;
	background-color: black;
	padding: 1rem 0;
	position: fixed;
	height: 10vh;
	width: 100%;
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	padding-left: 5%;
	padding-right: 5%;
	display: none;

	li {
		list-style: none;
		display: inline-block;
		padding: 2rem;
		a {
			text-decoration: none;
			color: white;
			font-size: 2.3rem;
			&:hover {
				color: #646464;
				transition: 0.2s;
			}
		}
	}
}
// section {
// 	margin-left: 4.5%;
// 	margin-right: 4.7%;
// 	border-left: solid 4.5px white;
// 	border-right: solid 4.5px white;
// }
.hero {
	height: 90vh;
	.hero-text {
		position: absolute;
		top: 25%;
		width: 100%;
		text-align: center;
		padding: 20% 10%;
		color: white;
		h1 {
			font-size: 4.5rem;
			font-weight: 400;
		}
	}
	// .hero-button {
	// 	position: absolute;
	// 	left: 50%;
	// 	bottom: 0;
	// 	transform: translate(-50%, -50%);
	// 	padding: 15px 25px;
	// 	border-radius: 8px;
	// 	font-size: 2rem;
	// 	background-color: transparent;
	// 	border: 3px solid white;
	// 	color: white;
	// 	cursor: pointer;
	// 	// background-color: black;
	// 	z-index: 10;
	// 	&::before {
	// 		background-color: white;
	// 	}
	// 	&:hover {
	// 		color: black;
	// 	}
	// }
	.arrow-down {
		z-index: 10;
		color: white;
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 0;
		font-size: 5rem;
		animation: move 1.5s infinite ease-in-out;
	}
}
@keyframes move {
	0% {
		bottom: 0;
	}
	50% {
		bottom: 30px;
	}
	0% {
		bottom: 0;
	}
}
.house-icon {
	position: relative;
	top: 55%;
	width: 100%;
	z-index: -1000;
	.arrows {
		position: absolute;
		bottom: -25%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		background-image: url('../img/dalene-hero.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 35%;
	}
}
.testing {
	max-width: 100%;
	max-height: 100vw;
}

@media (max-height: 700px) {
	.hero {
		.hero-text {
			h1 {
				font-size: 3.5rem;
			}
		}
	}
	.house-icon {
		top: 40%;
	}
}

@media (min-width: 768px) {
	.house-icon {
		top: 20%;
	}
}
@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}
	.logo-mobile {
		display: none;
	}
	.logo {
		display: block;
	}
	.navbar {
		display: flex;
	}
	.hero-text {
		top: 50%;
	}
}

@media (min-width: 1200px) {
	.hero {
		.hero-text {
			top: 35%;
			h1 {
				font-size: 5.5rem;
			}
		}
	}
	.house-icon {
		top: 15%;
		.arrows {
			bottom: -20%;
			background-size: 20%;
			background-position: center;
		}
	}
}
@media (min-width: 1400px) {
	.hero {
		.hero-text {
			top: 30%;
			h1 {
				font-size: 5.5rem;
			}
		}
	}
}

//ABOUT
.about {
	padding-left: 5%;
	padding-right: 5%;
	// margin-top: 8rem;
}

.about-heading {
	color: white;
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
	padding: 8rem 1rem;
}
.about-text {
	color: white;
	text-align: center;
	font-size: 2rem;
	padding: 0 1rem;
	line-height: 1.6;
	ul {
		color: white;
		li {
			color: white;
		}
	}
}
.link-more {
	display: block;
	font-size: 2rem;
	text-align: center;
	color: white;
	text-decoration: underline;
	padding: 1rem 1rem 4rem 1rem;
}

.container {
	/* Makes it stretch vertically to fit the container */
	// height: 100vh; /* Ensure the container takes the full viewport height */
	position: relative;
	overflow: hidden;
	.about-svg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

@media (min-width: 992px) {
	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
		.about-text {
			width: 60%;
			text-align: center;
		}
	}
}

//SERVICES
.services {
	padding-left: 5%;
	padding-right: 5%;
}

.services-top {
	color: white;
	font-weight: 400;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	margin-top: 4rem;
}
.services-heading {
	color: white;
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
	padding: 8rem 0rem;
}
.services-cards {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 25px;
	padding-bottom: 5rem;
	.services-card {
		text-decoration: none;
		height: 100px;
		width: 95%;
		background-color: #fff;
		border-radius: 16px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		.card-heading {
			text-align: center;
			line-height: 100px;
			color: #fff;
			font-weight: 300;
			font-size: 2.5rem;
		}
	}
	.services-card:hover {
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
		transition: all 0.3s;
	}
	.card-1 {
		background-image: url('../img/Rens-av-ventilasjonskanaler-1.webp');
	}
	.card-2 {
		background-image: url('../img/service.jpeg');
	}
	.card-3 {
		background-image: url('../img/4c891f3b82fb6e0d5701487f755bb51c-image.jpeg');
	}
	.card-4 {
		background-image: url('../img/PAX\ Levante\ 30\ Baderomsvifte.jpg');
		background-size: 170%;
		background-position: top;
	}
	.card-5 {
		background-image: url('../img/3751735.jpg');
		background-size: cover;
		background-position: bottom;
	}
}
@media (min-width: 992px) {
	.services-cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.services-card {
			height: 200px;
			width: 40%;
			.card-heading {
				line-height: 200px;
			}
		}
	}
}

//CONTACT//

.contact-top {
	color: white;
	font-weight: 400;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	margin-top: 4rem;
}
.contact-text {
	color: white;
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
	padding: 8rem 1rem 3rem 1rem;
}
.contact {
	padding: 0 5rem;
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
		margin-top: 1.5rem;
	}

	&__form-label {
		margin-bottom: 0.2em;
		text-transform: uppercase;
		color: white;
	}

	&__form-input {
		margin-bottom: 1.6em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;
	}
	&__form-textarea {
		margin-bottom: 1.6em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;

		max-width: 100%;
		min-width: 100%;
		width: 100%;
		min-height: 200px;
	}

	&__form-btn {
		margin-top: 2rem;
		align-self: center;
		padding: 1.5rem;
		width: 80%;
		max-width: 300px;
		color: black;
		border: none;
		border-radius: 8px;
		background-color: white;
		cursor: pointer;
		font-size: 2rem;
		margin-bottom: 8rem;
		&::before {
			background-color: white;
		}
	}
	.contact-text {
		margin: 4rem auto;
		font-size: 2rem;
		font-weight: 300;
		line-height: 1.5;
		color: white;
	}
}
@media (min-width: 992px) {
	.contact__form-top {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		.contact__form-label {
			order: 1;
			width: 40%;
		}
		.contact__form-input {
			width: 40%;
			order: 2;
		}
	}
	.msgg {
		padding-left: 6.5%;
		width: 90%;
	}
	.txet {
		min-width: 87%;
		max-width: 87%;
		width: 87%;
		height: 300px;
		margin: 0 auto 2rem auto;
	}
	.contact {
		padding: 0 8rem;
		.contact-text {
			text-align: center;
			font-size: 2.5rem;
		}
	}
}

//FOOTER

// .footer {
// 	color: white;
// 	background-color: #333;
// 	border-top: white 2px solid;
// 	&__bottom-text {
// 		padding: 0rem 2rem 2rem 0rem;
// 		text-align: center;
// 	}
// 	.wrapper{
// 		.footer-list{
// 			height: 100px;
// 			display: flex;
// 			flex-direction: row;
// 			flex-wrap: wrap;
// 			align-content: space-evenly;
// 			text-align: center;
// 			// column-count: 2;
// 			list-style: none;
// 			.list-item{
// 				width: 50%;
// 				a{
// 					color: white;
// 					text-decoration: none;
// 					font-size: 1.8rem;
// 					line-height: 1.4;
// 				}
// 			}
// 		}
// 	}
// }
// section {
// 	width: 100%;
// 	display: inline-block;
// 	background: #333;
// 	height: 50vh;
// 	text-align: center;
// 	font-size: 22px;
// 	font-weight: 700;
// 	text-decoration: underline;
//   }

.footer-distributed {
	background: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 45px 50px;
	border-top: white 2px solid;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

/* The company logo */

.footer-logo {
	width: 200px;
	height: 100px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

.footer__bottom-text {
	margin-top: 3rem;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
	a {
		color: aqua;
		text-decoration: none;
	}
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: lightseagreen;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
	content: '|';
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
	.footer-distributed {
		font: bold 1.8rem sans-serif;
	}
	.footer-logo {
		margin: 0 auto;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}
	.footer__bottom-text {
		text-align: center;
	}
}
//Service1

.hero-service {
	position: relative;
	margin-top: 1vh;
	width: 100%;
	height: 200px;
	color: white;
	.hero-service-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.4;
	}
	.five {
		object-position: bottom;
	}
	// .four{
	// 	object-position: top;
	// }

	.hero-service-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
		text-transform: uppercase;
	}
}
.service1-info {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5rem;
	p {
		color: white;
		font-size: 1.8rem;
		line-height: 1.5;
	}
}
@media (min-width: 992px) {
	.hero-service {
		margin-top: 10vh;
		height: 300px;
		.hero-service-text {
			font-size: 5rem;
		}
	}
	.service1-info {
		p {
			font-size: 2.3rem;
		}
	}
}
